.ql-editor {
  min-height: 300px;
}

.featured-image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.featured-image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.mr-1 {
  margin-left: 10px;
}
.font-weight-bold {
  font-weight: bold;
}
.pt-4 {
  padding-top: 40px;
}
.pb-4 {
  padding-bottom: 40px;
}
.pr-4 {
  padding-right: 40px;
}
.pl-4 {
  padding-left: 40px;
}
